body{

}
.heading{
    background-color: brown;
    padding: 10px;
    
}
.notes{
    margin: 5px;
    box-shadow: 2px 2px 3px darkgray;
    width: 280px;
    padding: 5px;
    float:left;
}

