<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'style.css')}}"
    />
    
    <title>Document</title>
    {% include 'navbar.html' %}
  </head>
  <body>
    <div>{% block content %} {% endblock %}</div>
    <br>
    <footer>
      <div style="background-color:azure; text-align: center;">
        <svg
        width="42pt"
        height="17pt"
        viewBox="0 0 214.0 82.0"
        preserveAspectRatio="xMidYMid meet"
      >
        <g
          transform="translate(0.000000,82.000000) scale(0.100000,-0.100000)"
          fill="brown"
          stroke="none"
        >
          <path
            d="M62 398 l3 -373 1030 0 1030 0 3 373 2 372 -1035 0 -1035 0 2 -372z
  m248 132 c0 -212 6 -246 49 -284 29 -27 103 -26 139 1 44 32 51 70 51 286 l1
  197 346 0 c221 0 361 -4 389 -11 54 -14 125 -74 151 -126 10 -21 23 -60 30
  -88 9 -35 13 -42 13 -23 2 50 42 139 81 178 60 60 105 70 322 70 l188 0 0 -74
  0 -74 -152 -4 c-179 -4 -208 -14 -239 -81 -38 -84 -15 -226 43 -259 15 -9 77
  -15 183 -18 l160 -5 3 -73 3 -73 -203 3 c-226 3 -249 9 -314 76 -35 36 -73
  123 -75 170 0 18 -6 7 -18 -33 -30 -103 -65 -151 -141 -191 -30 -16 -64 -19
  -252 -22 l-218 -4 0 166 0 166 75 0 75 0 0 -66 0 -66 113 4 c63 3 124 10 139
  18 50 24 74 115 46 174 -26 58 -41 61 -309 64 l-246 3 -5 -139 c-4 -127 -7
  -144 -32 -196 -47 -97 -141 -146 -276 -146 -130 0 -230 50 -275 140 -25 49
  -25 52 -25 295 l0 245 90 0 90 0 0 -200z"
          />
        </g>
      </svg>
        <p>© Copyright UDC FM Department 2023 </p>
      </div>
    </footer>
  </body>
</html>
